<button class="horizontal-selection-container" @onclick="Redirect">
    <p>Question Text</p>
    <p>@QuestionListModel.QuestionText</p>
    <p>Question Description</p>
    <p>@QuestionListModel.Description</p>
</button>