@using FormsIW5.Common.Enums

@if (AnswerModels.Count == 0)
{
    <p>No answers found</p>
}

@if (QuestionType == QuestionType.RangeType)
{
    @foreach (var answer in AnswerModels)
    {
        <p>@answer.IntegerAnswer</p>
    }
}
else if (QuestionType == QuestionType.Multiselection)
{

    <div class="horizontal-selection-container">

        @foreach (var answer in AnswerModels)
        {
            @foreach (var questionOption in QuestionOptions)
            {
                if (questionOption.Id == answer.QuestionOptionId)
                {
                    <p>Option: @questionOption.QuestionOptionName</p>
                }
            }
        }
    </div>
}
else
{
    @foreach (var answer in AnswerModels)
    {
        <p>@answer.TextAnswer</p>
    }
}