@using FormsIW5.Web.App.Components.Questions
<h3>FormEditComponent</h3>

<FormEditFormComponent />

@foreach (var questionId in QuestionsIds)
{
    <QuestionEditComponent QuestionId=@questionId />
}


<button onclick="@AddQuestionAsync">Add question</button>
<button onclick="">Share Form</button>