@using FormsIW5.BL.Models.Common.Form

<style>
    .item {
        background-color: #f0f0f0;
        padding: 10px;
        margin: 5px;
    }
</style>

<button onclick="@Redirect" class="item">
    <h4>FormName</h4>
    <h4>@Form.FormName</h4>
</button>