@using FormsIW5.BL.Models.Common.Form
@inherits FormsIW5.Web.App.Pages.PageBase

<style>
    .flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    }

    .item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    }
</style>

<h1>FormListPage</h1>


@if (formList.Count != 0)
{
    <div class="flex-container">
        @foreach (var form in formList)
        {
            <button onclick="" class="item">
                <h4>FormName</h4>
                <h4>@form.FormName</h4>
            </button>
        }
    </div>
}
else
{
    <h1>No forms currently available</h1>}