@using FormsIW5.BL.Models.Common.Form
@inherits FormsIW5.Web.App.Pages.PageBase

<style>
    .flex-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
</style>

<h1>FormListPage</h1>


@if (formList.Count != 0)
{
    <div class="flex-container">
        @foreach (var form in formList)
        {
            <FormCard Form=@form/>
        }
    </div>
}
else
{
    <h1>No forms currently available</h1>}