@using FormsIW5.BL.Models.Common.Form
@inherits FormsIW5.Web.App.Pages.PageBase

<h3>FormListPage</h3>

<div class="row">
    <div class="col-md">
        <div class="bg-sec h-100 rounded">
            @if (formList.Count != 0)
            {
                <table class="table border table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="row">FormName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in formList)
                        {
                            <tr>
                                <td style="vertical-align: middle;">
                                    <NavLink href="@($"/ingredients/{ingredient.Id}")">@ingredient.FormName</NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>