@page "/createForm"
@page "/createForm/{Id:guid}"

@using FormsIW5.Web.App.Components;
@using FormsIW5.Web.App.Components.Forms

<AuthorizeView>
    <Authorized>
        You can create new form.

        @if (Id == Guid.Empty)
        {
            <FormCreateComponent/>
        }
        else
        {
            <FormDetailComponent FormId=@Id />
        }
    </Authorized>
    <NotAuthorized>
        <p>You must be signed in to create a new form.</p>
        <a href="authentication/login" class="nav-link font-weight-bold">Log in</a>
    </NotAuthorized>
</AuthorizeView>