@inherits LayoutComponentBase
@namespace IW5Forms.Web.App

<style>
    .bg-sec {
        background-color: #F8F8F8;
    }
</style>

<header>
    <NavMenu />
</header>

<main class="container mt-2 mb-2 mt-sm-4 mb-sm-4">
    @Body
</main>
