@using Microsoft.Extensions.Localization
@namespace IW5Forms.Web.App


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink href="" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                        Public forms
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/forms/create" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                        Create new form
                    </NavLink>
                </li>
                <li>
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="/userForms" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                                Your forms
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </li>
                <li>
                    <AuthorizeView Policy="AdminPolicy">
                        <Authorized>
                            <NavLink href="/users/manage" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                                Manage users
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </li>
                <li>
                    <LoginDisplay/>
                </li>
            </ul>
        </div>
    </div>
</nav>